<div class="jumbotron">
<div class="container">
  <h1 class="display-4">Ruby on Rails Rocks!</h1>
  <p class="lead">This is a simple website as it's been a long time since I have used Rails.</p>
  <hr class="my-4">
  <p>I'll be using Bootstrap 4.1</p>
  <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>